*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}

#box {
    position: relative;
    height: 420px;
    width: 320px;
    border-radius: 20px;
    border: 3px solid black;
    background-color: white;
    padding: 7px;
    overflow: hidden;
    cursor: pointer;
}

#box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#box .i1 {
    color: white;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform ease 0.5s;
    opacity: 0;
}

#box .i2 {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 88%;
    left: 16%;
    transform: translate(-100%,-5%) scale(1);
}